.contato h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    text-align: center;
}

form {
    max-width: 45rem;
    margin: 0.6rem auto;
    text-align: center;
    margin-bottom: 2rem;
}

form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .input-box input,
form textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: var(--cor-de-texto);
    background-color: var(--bg-color-02);
    border-radius: 0.5rem;
    margin: 0.4rem 0;
}

form textarea {
    resize: none;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--bg-color-01);
}

.social-media img {
    width: 3.5rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: solid 0.15rem var(--cor-destaque);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--cor-destaque);
    margin: 1.8rem 0.5rem;
    transition: 0.5s ease;
}

.social-media a:hover {
    background-color: var(--cor-destaque);
    color: var(--bg-color-02);
    box-shadow: 0 0 0.3rem var(--cor-destaque);
}